@import "utils";
@import "base/reset";
@import "base/typography";
.swiper-button-prev,
.swiper-button-next {
  color: $primary !important;
}
.swiper-pagination-bullet-active {
  background: $primary !important;
}
a:active, /* активная/посещенная ссылка */
a:hover,  /* при наведении */
a {
  text-decoration: none;
  color: #ffffff;
  transition: color 0.3s;
}

.hov-text {
  position: relative;
  padding-bottom: 3px;
  cursor: pointer;
  &::before {
    width: 0px !important;
    bottom: -2px;
    position: absolute;
    content: " ";
    height: 2px;
    transition: all 0.3s ease-out;
    background-color: rgb(145, 47, 202);
  }
  &:hover {
    &::before {
      width: 100% !important;
      bottom: -2px;
      position: absolute;
      content: " ";
      height: 2px;
      background-color: rgb(145, 47, 202);
    }
  }
}
.all {
  position: relative;
  padding-bottom: 3px;
  &::before {
    width: 0px !important;
    bottom: -2px;
    position: absolute;
    content: " ";
    height: 2px;
    transition: all 0.3s ease-out;
    background-color: rgb(145, 47, 202);
  }
  &:hover {
    &::before {
      width: 100% !important;
      bottom: -2px;
      position: absolute;
      content: " ";
      height: 2px;
      background-color: rgb(145, 47, 202);
    }
  }
}
@keyframes slideIn {
  from {
    transform: translateX(100%);
  }
  to {
    transform: translateX(0);
  }
}

@keyframes slideOut {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(100%);
  }
}

.slide-enter-active {
  animation: slideIn 0.5s forwards;
}

.slide-leave-active {
  animation: slideOut 0.5s forwards;
}
body {
  font-family: "Raleway";
  line-height: 25px;
  background-color: #212121;
}

.container {
  width: 100%;
  max-width: 1200px; /* Ограничиваем максимальную ширину контейнера */
  margin: 0 auto;
  padding: 0 8px;
}
/* === removing default button style ===*/
button {
  margin: 0;
  height: auto;
  background: transparent;
  padding: 0;
  border: none;
  cursor: pointer;
}

.list-move, /* apply transition to moving elements */
.list-enter-active,
.list-leave-active {
  transition: all 0.5s ease;
}

.list-enter-from,
.list-leave-to {
  opacity: 0;
  transform: scaleY(0.7);
}

/* ensure leaving items are taken out of layout flow so that moving
   animations can be calculated correctly. */
.list-leave-active {
  display: none;
  position: absolute;
}
.page-enter-active,
.page-leave-active {
  transition: all 0.4s;
}
.page-enter-from,
.page-leave-to {
  opacity: 0;
  transform: translate3d(42px, -62px, -135px);
}
.glass {
  background: rgba(255, 255, 255, 0.05);
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.25);
  backdrop-filter: blur(10px);
  border-radius: 8px;
}
.pointer {
  cursor: pointer;
}
/* Убрать спиннеры в Chrome, Safari, Edge */
input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Убрать спиннеры в Firefox */
input[type="number"] {
  -moz-appearance: textfield; /* В Firefox */
}

/* Убрать стрелочки в IE 10+ */
input[type="number"]::-ms-clear,
input[type="number"]::-ms-reveal {
  display: none; /* IE 10+ */
}
